body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e );
    font-family: 'poppins', sans-serif;
}
.login {
    backdrop-filter: blur(12px);
    background: rgba(255,255,255,0.05);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 255,255,0.4);
    width: 100%;
    max-width: 320px;
    color: #fff;
    text-align: center;
}

.login h2{
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 1.5rem;
}

.input-group{
    margin-bottom: 1.5rem;
    position: relative;
}
.input-group input {
    width: 90%;
    padding: 12px 16px;
    font-size: 1rem;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    border-radius: 10px;
    outline: none; 
    transition: box-shadow 0.3s ease, border 0.3s ease;
}

.input-group input:focus {
    border-bottom: 2px solid #00ffff;
    box-shadow: 0 0 8px #00ffff;
}
button {
    width: 100%;
    padding: 12px;
    border: none;
    background: linear-gradient(45deg, #00ffff, #ff00ff);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.3s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #ff00ff;
}
.sign-up {
    margin-top: 1rem;
    font-size: 1rem;
}
.sign-up a{
    color: #00ffff;
    text-decoration: none;
}
.sign-up a:hover{
    text-decoration: underline;
}